
body {
    overflow: hidden;
}

#menu {
    font-family: "CenturyGothicBold";
    display: block;
    font-size: 100px;
    color: darkred;
}


#keyCol{
    text-align: right;
}

#valueCol{
    text-align: left;
}

.col{
    display: inline-block;
}

.item{
    display: block;
}

.seperator{
    display: inline-block;
    width: 1%;
}

@font-face {
    font-family: "CenturyGothicBold";
    src: url("font/century-gothic-bold.ttf");
}
@font-face {
    font-family: "CenturyGothic";
    src: url("font/century-gothic.ttf");
}
@font-face {
    font-family: "ChristmasFlake";
    src: url("font/MerryChristmasFlake.ttf");
}
@font-face {
    font-family: "ChristmasStar";
    src: url("font/MerryChristmasStar.ttf");
}